body {
    background-color: #bdfb80;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #7cf504;
}

.navbar-default {
    background-color: #7cf504;
}

.error-page body {
    background: #eee;
}

.error-page h1 {
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 42px;
    color: #900;
}

.error-page h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #333;
}

.right {
    text-align: right;
}

.table>tbody>tr>td.buttons {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nowrap {
    white-space: nowrap;
}

.present {
    font-weight: bold;
}

.cancelled {
    color: #505050;
}

.absence {
    color: red;
}
