{:liskasys/tx-attrs
 {:txes [[{:db/ident :tx/person
           :db/doc "Who made the tx"
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/lunch-type
 {:txes [[{:db/ident :lunch-type/label
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :lunch-type/color
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/lunch-menu
 {:txes [[{:db/ident :lunch-menu/from
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/identity
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :lunch-menu/text
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/file
 {:txes [[{:db/ident :file/category
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :file/content-type
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :file/orig-filename
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id #db/id [:db.part/user]
           :db/ident :file.category/lunch-menu
           :db/doc "Lunch menu files"}]]}
 :liskasys/person
 {:txes [[{:db/ident :person/firstname
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/lastname
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/email
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/phone
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/passwd
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/roles
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/var-symbol
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/lunch-type
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/lunch-pattern
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          #_{:db/ident :person/free-lunches?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/lunch-fund
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/att-pattern
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          #_{:db/ident :person/free-att?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/active?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/child?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/parent
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/many
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person/group
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person/start-date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person/birth-no
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/address
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/health-insurance-comp
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/health-warnings
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/vaccination?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person/photo-publishing?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person/notes
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person/price-list
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person/child-portion?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/lunch-order
 {:txes [[{:db/ident :lunch-order/date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/identity
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :lunch-order/total
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/bank-holiday
 {:txes [[{:db/ident :bank-holiday/label
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :bank-holiday/day
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :bank-holiday/month
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :bank-holiday/easter-delta
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id #db/id [:db.part/user]
           :bank-holiday/label "Nový rok"
           :bank-holiday/day 1
           :bank-holiday/month 1}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Velký pátek"
           :bank-holiday/easter-delta -3}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Velikonoční pondělí"
           :bank-holiday/easter-delta 0}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Svátek práce"
           :bank-holiday/day 1
           :bank-holiday/month 5}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Den vítězství"
           :bank-holiday/day 8
           :bank-holiday/month 5}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Cyril a Metoděj"
           :bank-holiday/day 5
           :bank-holiday/month 7}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Mistr Jan Hus"
           :bank-holiday/day 6
           :bank-holiday/month 7}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Den české státnosti"
           :bank-holiday/day 28
           :bank-holiday/month 9}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Den vzniku samostatného československého státu"
           :bank-holiday/day 28
           :bank-holiday/month 10}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Den boje za svobodu a demokracii"
           :bank-holiday/day 17
           :bank-holiday/month 11}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "Štědrý den"
           :bank-holiday/day 24
           :bank-holiday/month 12}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "1. svátek vánoční"
           :bank-holiday/day 25
           :bank-holiday/month 12}
          {:db/id #db/id [:db.part/user]
           :bank-holiday/label "2. svátek vánoční"
           :bank-holiday/day 26
           :bank-holiday/month 12}]]}
 :liskasys/school-holiday
 {:txes [[{:db/ident :school-holiday/label
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :school-holiday/from
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :school-holiday/to
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :school-holiday/every-year?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id #db/id [:db.part/user]
           :school-holiday/label "Letní prázdniny"
           :school-holiday/from #inst "2016-07-01"
           :school-holiday/to #inst "2016-08-31"
           :school-holiday/every-year? true}
          {:db/id #db/id [:db.part/user]
           :school-holiday/label "Vánoční prázdniny"
           :school-holiday/from #inst "2016-12-27"
           :school-holiday/to #inst "2016-12-31"
           :school-holiday/every-year? true}]
         [{:db/ident :school-holiday/higher-schools-only?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/price-list
 {:txes [[{:db/ident :price-list/days-1
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :price-list/days-2
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :price-list/days-3
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :price-list/days-4
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :price-list/days-5
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :price-list/half-day
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :price-list/lunch
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id #db/id [:db.part/user]
           :db/ident :liskasys/price-list ;;old DBs may not have it!
           :price-list/days-5 600000
           :price-list/days-4 530000
           :price-list/days-3 420000
           :price-list/days-2 300000
           :price-list/days-1 160000
           :price-list/half-day 30000
           :price-list/lunch 6500}]
         [{:db/ident :price-list/bank-account
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :price-list/lunch-adult
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :price-list/payment-due-date
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :price-list/label
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :price-list/bank-account-lunches
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/billing-period
 {:txes [[{:db/ident :billing-period/from-yyyymm
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :billing-period/to-yyyymm
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/person-bill
 {:txes [[{:db/ident :person-bill/period
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person-bill/person
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person-bill/total
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          #_{:db/ident :person-bill/paid?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
             :db.install/_attribute :db.part/db}
          {:db/ident :person-bill/lunch-count
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person-bill/att-price
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :person-bill/status
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :person-bill.status/new
           :db/id #db/id [:db.part/user]
           :db/doc "Unpublished bill"}
          {:db/ident :person-bill.status/published
           :db/id #db/id [:db.part/user]
           :db/doc "Published bill"}
          {:db/ident :person-bill.status/paid
           :db/id #db/id [:db.part/user]
           :db/doc "Paid bill"}]]}
 :liskasys/daily-plan
 {:txes [[{:db/ident :daily-plan/person
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/bill
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/index true
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/child-att
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/lunch-req
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/lunch-ord
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
         {:db/ident :daily-plan/lunch-cancelled?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/att-cancelled?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :daily-plan/substituted-by
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :daily-plan/subst-req-on
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :daily-plan/excuse
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :daily-plan/refund?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :daily-plan/absence?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :daily-plan/group
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/group
 {:txes [[{:db/ident :group/label
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :group/max-capacity
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :group/mandatory-excuse?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :group/pattern
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :group/subst-group
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/ident :group/branch
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/branch
 {:txes [[{:db/ident :branch/label
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :branch/address
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :branch/lunch-order-email-addr
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/unique :db.unique/value
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}
 :liskasys/config
 {:txes [[{:db/ident :config/org-name
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :config/full-url
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :config/automat-email
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id #db/id [:db.part/user]
           :db/ident :liskasys/config
           :config/org-name "LMŠ Testeři"
           :config/full-url "http://localhost:3000/"}
          {:db/id #db/id [:db.part/user]
           :person/firstname "Admin"
           :person/lastname "Admin"
           :person/email "admin"
           :person/passwd "$s0$f0801$dCCI1ZjX9VdtOibDHKubVA==$G6fU4AsRZRQ6Sbco5nAZ6Liqs93AT2rmsXBRvIRVQdE="
           :person/roles "admin"
           :person/active? true}]
         [{:db/ident :config/cancel-time
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :config/order-time
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/cancel-time "7:30"
           :config/order-time "8:00"}]
         [{:db/ident :config/closing-msg-role
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/closing-msg-role "koordinátor"}]
         [{:db/ident :config/max-subst-periods
           :db/valueType :db.type/long
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/max-subst-periods 1}]
         [{:db/ident :config/order-workdays-only?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/order-workdays-only? true}]
         [{:db/ident :config/future-subst?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/future-subst? false}]
         [{:db/ident :config/person-bill-email?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :config/can-cancel-after-lunch-order?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/person-bill-email? true
           :config/can-cancel-after-lunch-order? true}]
         [{:db/ident :config/person-bill-page?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :config/substs-page?
           :db/valueType :db.type/boolean
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]
         [{:db/id :liskasys/config
           :config/person-bill-page? true
           :config/substs-page? true}]]}
 :liskasys/class-register
 {:txes [[{:db/ident :class-register/date
           :db/valueType :db.type/instant
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :class-register/group
           :db/valueType :db.type/ref
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}
          {:db/ident :class-register/descr
           :db/valueType :db.type/string
           :db/cardinality :db.cardinality/one
           :db/id #db/id [:db.part/db]
           :db.install/_attribute :db.part/db}]]}}
